@import "modules/variables";

a{color:@color-main;}

#top{
  background-color: @color-dark;
  margin-bottom:30px;
  padding:10px 0;
  .worldwide{
    background: url(../image/worldwide.png) 0% 0 no-repeat;
    color:@color-main;
    padding-top:8px;
    padding-left:40px;
    font-weight:500;
    letter-spacing: 1px;
    display: block;
    text-transform: uppercase;
  }
  #top-links{
    li {
      margin-left: 15px;
      a{
        &:hover{
          color:@color-main;
        }
        span{
          margin-left:10px
        }
        color: @color-white;
        text-shadow: none;
      }
    }
    .dropdown-menu{
      li{
        margin-left:0;
        a{
          &:hover{
            background: @color-main;
            color: @color-white;
          }
          color:@color-dark
        }
      }

    }
     .open>a, .open>a:focus, .open>a:hover{
      color:@color-main;
      background:none
    }
  }

}

#form-currency{
  margin-top:10px;
  .fa{
    margin-left:10px;
  }
  .btn-link{
    color: @color-dark;
  }
}

#logo{
  img{
    margin:0 auto
  }
}

#search{
  margin-top:5px;
  .search{
    border-radius:0;
    border:1px solid @color-dark;
    border-left:none;
    box-shadow: none;
  }
  .btn-lg{
    color:@color-dark;
    border:1px solid @color-dark;
    padding: 10px 15px;
    background:none;
  }

}

#menu{
  background:none;
  border:none;
  margin:20px 0;
  .nav{
    text-align: center;
    width:100%;
    li {
      display: inline-block;
      float:none;
      > a {
      text-shadow: none;
      color: @color-dark;
      text-transform: uppercase;
      font-weight: 600;
      &:hover, .active {
        color: @color-main;
        background: none;
      }
    }
    }
  }
}