a {
  color: #fe7799;
}
#top {
  background-color: #131313;
  margin-bottom: 30px;
  padding: 10px 0;
}
#top .worldwide {
  background: url(../image/worldwide.png) 0% 0 no-repeat;
  color: #fe7799;
  padding-top: 8px;
  padding-left: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  text-transform: uppercase;
}
#top #top-links li {
  margin-left: 15px;
}
#top #top-links li a {
  color: #ffffff;
  text-shadow: none;
}
#top #top-links li a:hover {
  color: #fe7799;
}
#top #top-links li a span {
  margin-left: 10px;
}
#top #top-links .dropdown-menu li {
  margin-left: 0;
}
#top #top-links .dropdown-menu li a {
  color: #131313;
}
#top #top-links .dropdown-menu li a:hover {
  background: #fe7799;
  color: #ffffff;
}
#top #top-links .open > a,
#top #top-links .open > a:focus,
#top #top-links .open > a:hover {
  color: #fe7799;
  background: none;
}
#form-currency {
  margin-top: 10px;
}
#form-currency .fa {
  margin-left: 10px;
}
#form-currency .btn-link {
  color: #131313;
}
#logo img {
  margin: 0 auto;
}
#search {
  margin-top: 5px;
}
#search .search {
  border-radius: 0;
  border: 1px solid #131313;
  border-left: none;
  box-shadow: none;
}
#search .btn-lg {
  color: #131313;
  border: 1px solid #131313;
  padding: 10px 15px;
  background: none;
}
#menu {
  background: none;
  border: none;
  margin: 20px 0;
}
#menu .nav {
  text-align: center;
  width: 100%;
}
#menu .nav li {
  display: inline-block;
  float: none;
}
#menu .nav li > a {
  text-shadow: none;
  color: #131313;
  text-transform: uppercase;
  font-weight: 600;
}
#menu .nav li > a:hover,
#menu .nav li > a .active {
  color: #fe7799;
  background: none;
}
