<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <base href="{{ base }}" />
    {% if description %}
        <meta name="description" content="{{ description }}" />
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}" />
    {% endif %}

    <!-- Facebook share -->
    <meta property="og:site_name" content="{{ facebook_site_name }}" />
    <meta property="og:url" content="{{ facebook_share_url }}" />
    <meta property="og:type" content="{{ facebook_share_type }}" />
    <meta property="og:title" content="{{ facebook_share_title }}" />
    <meta property="og:description" content="{{ facebook_share_description }}" />
    <meta property="og:image" content="{{ facebook_share_image }}" />
    <meta property="og:image:width" content="{{ facebook_share_image_width }}" />
    <meta property="og:image:height" content="{{ facebook_share_image_height }}" />
    {% if facebook_share_type == 'product' %}
        <meta property="product:price:amount" content="{{ facebook_product_price_amount }}" />
        <meta property="product:price:currency" content="{{ facebook_product_price_currency }}" />
    {% endif %}

    <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
    <link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
    <link href="catalog/view/theme/blanca/stylesheet/blanca.css" rel="stylesheet">
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}" />
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
</head>
<body>
<nav id="top">
    <div class="container">
        <div class="nav pull-left">
            <span class="worldwide">
                {{ text_worldwide }}
            </span>
        </div>
        <div id="top-links" class="nav pull-right">
            <ul class="list-inline">
                <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        {% if logged %}
                            <li><a href="{{ account }}">{{ text_account }}</a></li>
                            <li><a href="{{ order }}">{{ text_order }}</a></li>
                            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                            <li><a href="{{ download }}">{{ text_download }}</a></li>
                            <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
                            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                        {% else %}
                            <li><a href="{{ register }}">{{ text_register }}</a></li>
                            <li><a href="{{ login }}">{{ text_login }}</a></li>
                        {% endif %}
                    </ul>
                </li>

                <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
                <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
                <li><a href="{{ contact }}"><i class="fa fa-phone"></i><span class="hidden-xs hidden-sm hidden-md">{{ text_contact }}</span></a> </li>

            </ul>
        </div>
    </div>
</nav>
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                {{ currency }}
                {{ language }}
            </div>
            <div class="col-sm-4">
                <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
                        <h1><a href="{{ home }}">{{ name }}</a></h1>
                    {% endif %}</div>
            </div>
            <div class="col-sm-4">{{ search }}</div>
            <!--div class="col-sm-3">{{ cart }}</div-->
        </div>
    </div>
</header>
{{ menu }}
