<div id="search" class="input-group">
  <div class="input-group-btn">
    <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
  </div>  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg search" />

</div>